.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spinner {
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.63, 0.045, 0.34, 1);
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(0.8) rotate(360deg);
    }
    100% {
        transform: scale(1) rotate(720deg);
    }
}
