.backButton {
    margin-bottom: 3rem;
    font-size: 1rem;
    background: none;
    outline: none;
    border: 1px solid #007aff;
    padding: 1rem;
    color: #2c3642;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.image {
    max-width: 100%;
    width: 50%;
    display: block;
}
