.itemContainer {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin: 1rem 0;
    padding-bottom: 1rem;
    display: flex;
    cursor: pointer;
}

.itemContainer:hover {
    border-bottom: 1px solid #007aff;
}

.category {
    font-size: 0.65rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: #696969;
}

.item {
    min-width: 22%;
}
