<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/blinker-brochure-production/wp-content/uploads/2016/09/02024252/favicon.png" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        /* Reset */
        html {
            font-size: 18px;
            box-sizing: border-box;

        }
        html,body {
            margin: 0;
            color: #2c3642;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        *,
        *::before,
        *::after {
            box-sizing: inherit;
        }

        /* Header */
        header {
            background: white;
            padding: 1rem 0;
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 2rem;
        }
        header img { width: 85px; }

        /* Shared */
        .ContentContainer { max-width: 1440px; padding: 0 5%; }
    </style>
</head>
<body>
    <header>
        <div class="ContentContainer">
            <img src="https://blinker.com/images/blinker-logo.svg" />
        </div>
    </header>
    <main>
        <div class="ContentContainer" id="app">
        </div>
    </main>
</body>
</html>
