.form {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
}

.input {
    font-size: 1rem;
    padding: 0.75rem;
}

.button {
    border: none;
    width: 50px;
    margin-left: 0.5rem;
    background: #007aff;
    display: flex;
    justify-content: center;
}

.glass {
    width: 18px;
    fill: white;
}

.searchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.headline {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0
}

.searchQuery {
    display: inline-block;
    position: relative;
    font-style: italic;
}

.searchQuery:after {
    position: absolute;
    content: "";
    height: 3px;
    background: #007aff;
    bottom: -3px;
    left: 0;
    right: 0;
}

.clearButton {
    background: none;
    color: #007aff;
    border: none;
    outline: none;
    font-size: 1.75rem;
    cursor: pointer;
}
